.grid-board {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  @include grid-size-xsmall;
}

@media (min-width: 375px) {
  .grid-board {
    @include grid-size-medium;
  }
}
@media (min-width: 525px) {
  .grid-board {
    @include grid-size-large;
  }
}
