@mixin borders {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightgray;
}

@mixin links {
    text-decoration: none;
    color: $base-txt-color;
    &:hover {
        color: $opacity-colors;
    }
}