@mixin borders {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgray;
}

@mixin links {
  text-decoration: none;
  color: $base-txt-color;
  transition: all 0.5s ease-out;
  &:hover {
    color: $opacity-colors;
  }
}

@mixin grid-size-xsmall {
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(4, 30px);
}
@mixin grid-size-small {
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
}
@mixin grid-size-medium {
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
}

@mixin grid-size-large {
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

@mixin bug-flex {
  //margin: 0 auto;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}
@mixin bug-grid {
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(8);
}
@mixin bug-text-field {
  line-height: 1.5em;
  max-width: 500px;
  height: 100px;
  justify-self: center;
  align-self: center;
  overflow-y: scroll;
}

@mixin bug-button {
  padding: 5px;
  margin: 5px;
  min-width: 150px;
  font-size: 20px;
  background-color: $opacity-colors;
  @include borders;
  align-self: center;
}

@mixin arrow-img {
  background-image: url("../../assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  background-size: 30px 40px;
}

@mixin up-arrow {
  transform: rotate(310deg);
}
@mixin right-arrow {
  transform: rotate(40deg);
}
@mixin down-arrow {
  transform: rotate(130deg);
}
@mixin left-arrow {
  transform: rotate(220deg);
}
