$primary-color: #757575;
$primary-background-color: rgba(19, 148, 92, 0.221);
$base-txt-color: #ffff;
$secondary-txt-color: #0000;
$opacity-colors: rgba(52, 235, 149, .5);
$opacity-border: 1px solid rgba(19, 148, 92,.4);
