#App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  padding: 0;
}

#github {
  display: block;
  margin: 0 auto;
}
