nav {
    width: 100%;
    
}
#logo {
    // width: 150px;
}

#new-bug, #bugs, #bug {
    @include links;
    display: block;
}



@media (min-width:668px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}