.selected {
  border: solid 1px $base-txt-color;
  content: "";
  background-image: url("../../assets/bsprite-bug-catcher-sheet.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 20px 25px;
  pointer-events: none;
}

.light-green {
  background-color: lightgreen;
}

.green {
  background-color: green;
}

@media (min-width: 375px) {
  .selected {
    background-size: 40px 45px;
  }
}
@media (min-width: 525px) {
  .selected {
    background-size: 70px 75px;
  }
}
