.selected {
    border: solid 5px $base-txt-color;
    box-shadow: inset 0 0 0 250px rgba(255,255,255,.3);
}

.light-green {
    background-color: lightgreen;
}

.green {
    background-color: green;
}